@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #555;
  font-family: "Rubik", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", Georgia, serif;
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 36px;
  line-height: 1;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4,
h5,
h6 {
  font-size: 18px;
}

.logo {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 28px;
  font-weight: 550;
}

a,
button,
.dropdown-item {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

a:hover,
button:hover,
.dropdown-item:hover {
  color: #f35029;
  text-decoration: underline;
}
